.\#*
\#*\#
*~
blib*
cover_db*
Build
_build
MANIFEST
META.yml
MYMETA.yml
README
Debian_CPANTS.txt
Makefile.PL
Makefile
Makefile.old
pm_to_blib*
Locale-CLDR-*
lib/Locale/CLDR/aa.pm
lib/Locale/CLDR/aa_DJ.pm
lib/Locale/CLDR/aa_ER.pm
lib/Locale/CLDR/aa_ER_SAAHO.pm
lib/Locale/CLDR/aa_ET.pm
lib/Locale/CLDR/af.pm
lib/Locale/CLDR/af_NA.pm
lib/Locale/CLDR/af_ZA.pm
lib/Locale/CLDR/ak.pm
lib/Locale/CLDR/ak_GH.pm
lib/Locale/CLDR/am.pm
lib/Locale/CLDR/am_ET.pm
lib/Locale/CLDR/ar.pm
lib/Locale/CLDR/ar_AE.pm
lib/Locale/CLDR/ar_BH.pm
lib/Locale/CLDR/ar_DZ.pm
lib/Locale/CLDR/ar_EG.pm
lib/Locale/CLDR/ar_IQ.pm
lib/Locale/CLDR/ar_JO.pm
lib/Locale/CLDR/ar_KW.pm
lib/Locale/CLDR/ar_LB.pm
lib/Locale/CLDR/ar_LY.pm
lib/Locale/CLDR/ar_MA.pm
lib/Locale/CLDR/ar_OM.pm
lib/Locale/CLDR/ar_QA.pm
lib/Locale/CLDR/ar_SA.pm
lib/Locale/CLDR/ar_SD.pm
lib/Locale/CLDR/ar_SY.pm
lib/Locale/CLDR/ar_TN.pm
lib/Locale/CLDR/ar_YE.pm
lib/Locale/CLDR/as.pm
lib/Locale/CLDR/as_IN.pm
lib/Locale/CLDR/az.pm
lib/Locale/CLDR/az_Cyrl.pm
lib/Locale/CLDR/az_Cyrl_AZ.pm
lib/Locale/CLDR/az_Latn.pm
lib/Locale/CLDR/az_Latn_AZ.pm
lib/Locale/CLDR/be.pm
lib/Locale/CLDR/be_BY.pm
lib/Locale/CLDR/bg.pm
lib/Locale/CLDR/bg_BG.pm
lib/Locale/CLDR/bn.pm
lib/Locale/CLDR/bn_BD.pm
lib/Locale/CLDR/bn_IN.pm
lib/Locale/CLDR/bo.pm
lib/Locale/CLDR/bo_CN.pm
lib/Locale/CLDR/bo_IN.pm
lib/Locale/CLDR/bs.pm
lib/Locale/CLDR/bs_BA.pm
lib/Locale/CLDR/byn.pm
lib/Locale/CLDR/byn_ER.pm
lib/Locale/CLDR/ca.pm
lib/Locale/CLDR/ca_ES.pm
lib/Locale/CLDR/cch.pm
lib/Locale/CLDR/cch_NG.pm
lib/Locale/CLDR/cop.pm
lib/Locale/CLDR/cs.pm
lib/Locale/CLDR/cs_CZ.pm
lib/Locale/CLDR/cy.pm
lib/Locale/CLDR/cy_GB.pm
lib/Locale/CLDR/da.pm
lib/Locale/CLDR/da_DK.pm
lib/Locale/CLDR/de.pm
lib/Locale/CLDR/de_AT.pm
lib/Locale/CLDR/de_BE.pm
lib/Locale/CLDR/de_CH.pm
lib/Locale/CLDR/de_DE.pm
lib/Locale/CLDR/de_LI.pm
lib/Locale/CLDR/de_LU.pm
lib/Locale/CLDR/dv.pm
lib/Locale/CLDR/dv_MV.pm
lib/Locale/CLDR/dz.pm
lib/Locale/CLDR/dz_BT.pm
lib/Locale/CLDR/ee.pm
lib/Locale/CLDR/ee_GH.pm
lib/Locale/CLDR/ee_TG.pm
lib/Locale/CLDR/el.pm
lib/Locale/CLDR/el_CY.pm
lib/Locale/CLDR/el_GR.pm
lib/Locale/CLDR/el_POLYTON.pm
lib/Locale/CLDR/en.pm
lib/Locale/CLDR/en_AS.pm
lib/Locale/CLDR/en_AU.pm
lib/Locale/CLDR/en_BE.pm
lib/Locale/CLDR/en_BW.pm
lib/Locale/CLDR/en_BZ.pm
lib/Locale/CLDR/en_CA.pm
lib/Locale/CLDR/en_Dsrt.pm
lib/Locale/CLDR/en_Dsrt_US.pm
lib/Locale/CLDR/en_GB.pm
lib/Locale/CLDR/en_GU.pm
lib/Locale/CLDR/en_HK.pm
lib/Locale/CLDR/en_IE.pm
lib/Locale/CLDR/en_IN.pm
lib/Locale/CLDR/en_JM.pm
lib/Locale/CLDR/en_MH.pm
lib/Locale/CLDR/en_MP.pm
lib/Locale/CLDR/en_MT.pm
lib/Locale/CLDR/en_NA.pm
lib/Locale/CLDR/en_NZ.pm
lib/Locale/CLDR/en_PH.pm
lib/Locale/CLDR/en_PK.pm
lib/Locale/CLDR/en_SG.pm
lib/Locale/CLDR/en_Shaw.pm
lib/Locale/CLDR/en_TT.pm
lib/Locale/CLDR/en_UM.pm
lib/Locale/CLDR/en_US.pm
lib/Locale/CLDR/en_US_POSIX.pm
lib/Locale/CLDR/en_VI.pm
lib/Locale/CLDR/en_ZA.pm
lib/Locale/CLDR/en_ZW.pm
lib/Locale/CLDR/eo.pm
lib/Locale/CLDR/es.pm
lib/Locale/CLDR/es_AR.pm
lib/Locale/CLDR/es_BO.pm
lib/Locale/CLDR/es_CL.pm
lib/Locale/CLDR/es_CO.pm
lib/Locale/CLDR/es_CR.pm
lib/Locale/CLDR/es_DO.pm
lib/Locale/CLDR/es_EC.pm
lib/Locale/CLDR/es_ES.pm
lib/Locale/CLDR/es_GT.pm
lib/Locale/CLDR/es_HN.pm
lib/Locale/CLDR/es_MX.pm
lib/Locale/CLDR/es_NI.pm
lib/Locale/CLDR/es_PA.pm
lib/Locale/CLDR/es_PE.pm
lib/Locale/CLDR/es_PR.pm
lib/Locale/CLDR/es_PY.pm
lib/Locale/CLDR/es_SV.pm
lib/Locale/CLDR/es_US.pm
lib/Locale/CLDR/es_UY.pm
lib/Locale/CLDR/es_VE.pm
lib/Locale/CLDR/et.pm
lib/Locale/CLDR/et_EE.pm
lib/Locale/CLDR/eu.pm
lib/Locale/CLDR/eu_ES.pm
lib/Locale/CLDR/fa.pm
lib/Locale/CLDR/fa_AF.pm
lib/Locale/CLDR/fa_IR.pm
lib/Locale/CLDR/fi.pm
lib/Locale/CLDR/fi_FI.pm
lib/Locale/CLDR/fil.pm
lib/Locale/CLDR/fil_PH.pm
lib/Locale/CLDR/fo.pm
lib/Locale/CLDR/fo_FO.pm
lib/Locale/CLDR/fr.pm
lib/Locale/CLDR/fr_BE.pm
lib/Locale/CLDR/fr_CA.pm
lib/Locale/CLDR/fr_CH.pm
lib/Locale/CLDR/fr_FR.pm
lib/Locale/CLDR/fr_LU.pm
lib/Locale/CLDR/fr_MC.pm
lib/Locale/CLDR/fr_SN.pm
lib/Locale/CLDR/fur.pm
lib/Locale/CLDR/fur_IT.pm
lib/Locale/CLDR/ga.pm
lib/Locale/CLDR/ga_IE.pm
lib/Locale/CLDR/gaa.pm
lib/Locale/CLDR/gaa_GH.pm
lib/Locale/CLDR/gez.pm
lib/Locale/CLDR/gez_ER.pm
lib/Locale/CLDR/gez_ET.pm
lib/Locale/CLDR/gl.pm
lib/Locale/CLDR/gl_ES.pm
lib/Locale/CLDR/gsw.pm
lib/Locale/CLDR/gsw_CH.pm
lib/Locale/CLDR/gu.pm
lib/Locale/CLDR/gu_IN.pm
lib/Locale/CLDR/gv.pm
lib/Locale/CLDR/gv_GB.pm
lib/Locale/CLDR/ha.pm
lib/Locale/CLDR/ha_Arab.pm
lib/Locale/CLDR/ha_Arab_NG.pm
lib/Locale/CLDR/ha_Arab_SD.pm
lib/Locale/CLDR/ha_Latn.pm
lib/Locale/CLDR/ha_Latn_GH.pm
lib/Locale/CLDR/ha_Latn_NE.pm
lib/Locale/CLDR/ha_Latn_NG.pm
lib/Locale/CLDR/haw.pm
lib/Locale/CLDR/haw_US.pm
lib/Locale/CLDR/he.pm
lib/Locale/CLDR/he_IL.pm
lib/Locale/CLDR/hi.pm
lib/Locale/CLDR/hi_IN.pm
lib/Locale/CLDR/hr.pm
lib/Locale/CLDR/hr_HR.pm
lib/Locale/CLDR/hu.pm
lib/Locale/CLDR/hu_HU.pm
lib/Locale/CLDR/hy.pm
lib/Locale/CLDR/hy_AM.pm
lib/Locale/CLDR/hy_AM_REVISED.pm
lib/Locale/CLDR/ia.pm
lib/Locale/CLDR/id.pm
lib/Locale/CLDR/id_ID.pm
lib/Locale/CLDR/ig.pm
lib/Locale/CLDR/ig_NG.pm
lib/Locale/CLDR/ii.pm
lib/Locale/CLDR/ii_CN.pm
lib/Locale/CLDR/is.pm
lib/Locale/CLDR/is_IS.pm
lib/Locale/CLDR/it.pm
lib/Locale/CLDR/it_CH.pm
lib/Locale/CLDR/it_IT.pm
lib/Locale/CLDR/iu.pm
lib/Locale/CLDR/ja.pm
lib/Locale/CLDR/ja_JP.pm
lib/Locale/CLDR/ka.pm
lib/Locale/CLDR/ka_GE.pm
lib/Locale/CLDR/kaj.pm
lib/Locale/CLDR/kaj_NG.pm
lib/Locale/CLDR/kam.pm
lib/Locale/CLDR/kam_KE.pm
lib/Locale/CLDR/kcg.pm
lib/Locale/CLDR/kcg_NG.pm
lib/Locale/CLDR/kfo.pm
lib/Locale/CLDR/kfo_CI.pm
lib/Locale/CLDR/kk.pm
lib/Locale/CLDR/kk_Cyrl.pm
lib/Locale/CLDR/kk_Cyrl_KZ.pm
lib/Locale/CLDR/kl.pm
lib/Locale/CLDR/kl_GL.pm
lib/Locale/CLDR/km.pm
lib/Locale/CLDR/km_KH.pm
lib/Locale/CLDR/kn.pm
lib/Locale/CLDR/kn_IN.pm
lib/Locale/CLDR/ko.pm
lib/Locale/CLDR/ko_KR.pm
lib/Locale/CLDR/kok.pm
lib/Locale/CLDR/kok_IN.pm
lib/Locale/CLDR/kpe.pm
lib/Locale/CLDR/kpe_GN.pm
lib/Locale/CLDR/kpe_LR.pm
lib/Locale/CLDR/ku.pm
lib/Locale/CLDR/ku_Arab.pm
lib/Locale/CLDR/ku_Arab_IQ.pm
lib/Locale/CLDR/ku_Arab_IR.pm
lib/Locale/CLDR/ku_Arab_SY.pm
lib/Locale/CLDR/ku_Latn.pm
lib/Locale/CLDR/ku_Latn_TR.pm
lib/Locale/CLDR/kw.pm
lib/Locale/CLDR/kw_GB.pm
lib/Locale/CLDR/ky.pm
lib/Locale/CLDR/ky_KG.pm
lib/Locale/CLDR/ln.pm
lib/Locale/CLDR/ln_CD.pm
lib/Locale/CLDR/ln_CG.pm
lib/Locale/CLDR/lo.pm
lib/Locale/CLDR/lo_LA.pm
lib/Locale/CLDR/lt.pm
lib/Locale/CLDR/lt_LT.pm
lib/Locale/CLDR/lv.pm
lib/Locale/CLDR/lv_LV.pm
lib/Locale/CLDR/mk.pm
lib/Locale/CLDR/mk_MK.pm
lib/Locale/CLDR/ml.pm
lib/Locale/CLDR/ml_IN.pm
lib/Locale/CLDR/mn.pm
lib/Locale/CLDR/mn_Cyrl.pm
lib/Locale/CLDR/mn_Cyrl_MN.pm
lib/Locale/CLDR/mn_Mong.pm
lib/Locale/CLDR/mn_Mong_CN.pm
lib/Locale/CLDR/mr.pm
lib/Locale/CLDR/mr_IN.pm
lib/Locale/CLDR/ms.pm
lib/Locale/CLDR/ms_BN.pm
lib/Locale/CLDR/ms_MY.pm
lib/Locale/CLDR/mt.pm
lib/Locale/CLDR/mt_MT.pm
lib/Locale/CLDR/my.pm
lib/Locale/CLDR/my_MM.pm
lib/Locale/CLDR/nb.pm
lib/Locale/CLDR/nb_NO.pm
lib/Locale/CLDR/nds.pm
lib/Locale/CLDR/nds_DE.pm
lib/Locale/CLDR/ne.pm
lib/Locale/CLDR/ne_IN.pm
lib/Locale/CLDR/ne_NP.pm
lib/Locale/CLDR/nl.pm
lib/Locale/CLDR/nl_BE.pm
lib/Locale/CLDR/nl_NL.pm
lib/Locale/CLDR/nn.pm
lib/Locale/CLDR/nn_NO.pm
lib/Locale/CLDR/nr.pm
lib/Locale/CLDR/nr_ZA.pm
lib/Locale/CLDR/nso.pm
lib/Locale/CLDR/nso_ZA.pm
lib/Locale/CLDR/ny.pm
lib/Locale/CLDR/ny_MW.pm
lib/Locale/CLDR/oc.pm
lib/Locale/CLDR/oc_FR.pm
lib/Locale/CLDR/om.pm
lib/Locale/CLDR/om_ET.pm
lib/Locale/CLDR/om_KE.pm
lib/Locale/CLDR/or.pm
lib/Locale/CLDR/or_IN.pm
lib/Locale/CLDR/pa.pm
lib/Locale/CLDR/pa_Arab.pm
lib/Locale/CLDR/pa_Arab_PK.pm
lib/Locale/CLDR/pa_Guru.pm
lib/Locale/CLDR/pa_Guru_IN.pm
lib/Locale/CLDR/pl.pm
lib/Locale/CLDR/pl_PL.pm
lib/Locale/CLDR/ps.pm
lib/Locale/CLDR/ps_AF.pm
lib/Locale/CLDR/pt.pm
lib/Locale/CLDR/pt_BR.pm
lib/Locale/CLDR/pt_PT.pm
lib/Locale/CLDR/ro.pm
lib/Locale/CLDR/ro_MD.pm
lib/Locale/CLDR/ro_RO.pm
lib/Locale/CLDR/root.pm
lib/Locale/CLDR/ru.pm
lib/Locale/CLDR/ru_RU.pm
lib/Locale/CLDR/ru_UA.pm
lib/Locale/CLDR/rw.pm
lib/Locale/CLDR/rw_RW.pm
lib/Locale/CLDR/sa.pm
lib/Locale/CLDR/sa_IN.pm
lib/Locale/CLDR/se.pm
lib/Locale/CLDR/se_FI.pm
lib/Locale/CLDR/se_NO.pm
lib/Locale/CLDR/si.pm
lib/Locale/CLDR/si_LK.pm
lib/Locale/CLDR/sid.pm
lib/Locale/CLDR/sid_ET.pm
lib/Locale/CLDR/sk.pm
lib/Locale/CLDR/sk_SK.pm
lib/Locale/CLDR/sl.pm
lib/Locale/CLDR/sl_SI.pm
lib/Locale/CLDR/so.pm
lib/Locale/CLDR/so_DJ.pm
lib/Locale/CLDR/so_ET.pm
lib/Locale/CLDR/so_KE.pm
lib/Locale/CLDR/so_SO.pm
lib/Locale/CLDR/sq.pm
lib/Locale/CLDR/sq_AL.pm
lib/Locale/CLDR/sr.pm
lib/Locale/CLDR/sr_Cyrl.pm
lib/Locale/CLDR/sr_Cyrl_BA.pm
lib/Locale/CLDR/sr_Cyrl_ME.pm
lib/Locale/CLDR/sr_Cyrl_RS.pm
lib/Locale/CLDR/sr_Latn.pm
lib/Locale/CLDR/sr_Latn_BA.pm
lib/Locale/CLDR/sr_Latn_ME.pm
lib/Locale/CLDR/sr_Latn_RS.pm
lib/Locale/CLDR/ss.pm
lib/Locale/CLDR/ss_SZ.pm
lib/Locale/CLDR/ss_ZA.pm
lib/Locale/CLDR/st.pm
lib/Locale/CLDR/st_LS.pm
lib/Locale/CLDR/st_ZA.pm
lib/Locale/CLDR/sv.pm
lib/Locale/CLDR/sv_FI.pm
lib/Locale/CLDR/sv_SE.pm
lib/Locale/CLDR/sw.pm
lib/Locale/CLDR/sw_KE.pm
lib/Locale/CLDR/sw_TZ.pm
lib/Locale/CLDR/syr.pm
lib/Locale/CLDR/syr_SY.pm
lib/Locale/CLDR/ta.pm
lib/Locale/CLDR/ta_IN.pm
lib/Locale/CLDR/te.pm
lib/Locale/CLDR/te_IN.pm
lib/Locale/CLDR/tg.pm
lib/Locale/CLDR/tg_Cyrl.pm
lib/Locale/CLDR/tg_Cyrl_TJ.pm
lib/Locale/CLDR/th.pm
lib/Locale/CLDR/th_TH.pm
lib/Locale/CLDR/ti.pm
lib/Locale/CLDR/ti_ER.pm
lib/Locale/CLDR/ti_ET.pm
lib/Locale/CLDR/tig.pm
lib/Locale/CLDR/tig_ER.pm
lib/Locale/CLDR/tn.pm
lib/Locale/CLDR/tn_ZA.pm
lib/Locale/CLDR/to.pm
lib/Locale/CLDR/to_TO.pm
lib/Locale/CLDR/tr.pm
lib/Locale/CLDR/tr_TR.pm
lib/Locale/CLDR/trv.pm
lib/Locale/CLDR/trv_TW.pm
lib/Locale/CLDR/ts.pm
lib/Locale/CLDR/ts_ZA.pm
lib/Locale/CLDR/tt.pm
lib/Locale/CLDR/tt_RU.pm
lib/Locale/CLDR/ug.pm
lib/Locale/CLDR/ug_Arab.pm
lib/Locale/CLDR/ug_Arab_CN.pm
lib/Locale/CLDR/uk.pm
lib/Locale/CLDR/uk_UA.pm
lib/Locale/CLDR/ur.pm
lib/Locale/CLDR/ur_IN.pm
lib/Locale/CLDR/ur_PK.pm
lib/Locale/CLDR/uz.pm
lib/Locale/CLDR/uz_Arab.pm
lib/Locale/CLDR/uz_Arab_AF.pm
lib/Locale/CLDR/uz_Cyrl.pm
lib/Locale/CLDR/uz_Cyrl_UZ.pm
lib/Locale/CLDR/uz_Latn.pm
lib/Locale/CLDR/uz_Latn_UZ.pm
lib/Locale/CLDR/ve.pm
lib/Locale/CLDR/ve_ZA.pm
lib/Locale/CLDR/vi.pm
lib/Locale/CLDR/vi_VN.pm
lib/Locale/CLDR/wal.pm
lib/Locale/CLDR/wal_ET.pm
lib/Locale/CLDR/wo.pm
lib/Locale/CLDR/wo_Latn.pm
lib/Locale/CLDR/wo_Latn_SN.pm
lib/Locale/CLDR/wo_SN.pm
lib/Locale/CLDR/xh.pm
lib/Locale/CLDR/xh_ZA.pm
lib/Locale/CLDR/yo.pm
lib/Locale/CLDR/yo_NG.pm
lib/Locale/CLDR/zh.pm
lib/Locale/CLDR/zh_Hans.pm
lib/Locale/CLDR/zh_Hans_CN.pm
lib/Locale/CLDR/zh_Hans_HK.pm
lib/Locale/CLDR/zh_Hans_MO.pm
lib/Locale/CLDR/zh_Hans_SG.pm
lib/Locale/CLDR/zh_Hant.pm
lib/Locale/CLDR/zh_Hant_HK.pm
lib/Locale/CLDR/zh_Hant_MO.pm
lib/Locale/CLDR/zh_Hant_TW.pm
lib/Locale/CLDR/zu.pm
lib/Locale/CLDR/zu_ZA.pm
lib/Locale/CLDR/Catalog.pm
